* {
	*behavior: url('/css/behaviors/boxsizing.htc');
	@include box-sizing('border-box');
}

h2 {
	font-weight: bold;
	color: $mainColor;
	@include adjust-font-size-to(2 * $base-font-size);
}

h3 {
	font-weight: bold;
	color: $darkGray;
	@include adjust-font-size-to(1.5 * $base-font-size);
}


.feedback {
	margin-bottom: $base-line-height;
	padding: 0.5*$base-line-height 0.25*$gutter-width;
	border: 2px solid;
	@include border-radius(0.25*$base-line-height);
	
	.type {
		display: block;
		font-weight: bold;
	}
	
	.message {
		margin: 0px;
		color: #222;
		@include adjust-font-size-to(0.9*$base-font-size);
	}
}

.feedback.confirmation  {
	background: #bfb;
	border-color: #0f0;
	
}

.feedback.error  {
	background: #fbb;
	border-color: #f66;	
}

.horizontalTable {
	display: table;
	width: 100%;
	margin-bottom: 2*$base-line-height;
	background: $lightGray;
	@extend .shadowed;
	
	tr:nth-child(2n+1) {
		background: $white;
	}
	
	th {
		padding: 0.25*$base-line-height 0.25*$gutter-width;
		text-align: center;	
		font-weight: bold;
		color: $white;
		border-bottom: 1px solid $gray;
		background: $mainColor;
		@include background-image(linear-gradient(lighten($mainColor, 10%), darken($mainColor, 5%)));
	}
	
	td {
		padding: 0.125*$base-line-height 0.125*$gutter-width;
		border-bottom: 1px solid $gray;
		border-right: 1px solid $gray;
		@include adjust-font-size-to(0.9*$base-font-size);
	}
}
