body,
html {
	width: 100%;
	height: 100%;
	font-family: $base-font;
}

#centerWrapper {
	min-height: 100%;
	@include container;
}

#sidebar {
	min-height: 100%;
	background: $lightGray;
	@include span-columns(6, 18);
	@extend .shadowed;
}

#header {
	padding: $base-line-height $gutter-width;

	h1 {
		text-align: center;
		font-weight: bold;
		color: $mainColor;
		@include adjust-font-size-to(2 * $base-font-size);
	}
}

#navigation {
	padding: $base-line-height $gutter-width;

	h6 {
		font-weight: bold;
		color: $black;
	}

	ul {
		list-style: disc inside;
		margin-bottom: $base-line-height;

		li {
			a {
				text-decoration: none;
				color: $mainColor;
			}
		}
	}
}

#contentArea {
	margin-top: $base-line-height;
	margin-bottom: 2 * $base-line-height;
	@include span-columns(12 omega, 18);
}

#loginBox {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 10 * $gutter-width;
	margin-top: -8 * $base-line-height;
	margin-left: -5 * $gutter-width;

	padding: $base-line-height 0.5*$gutter-width;
	background-color: $lightGray;
	border: 1px solid $gray;
	@include background-image(linear-gradient(lighten($lightGray, 5%), darken($lightGray, 10%)));
	@include border-radius($border-radius);
	@include pie-clearfix;
	@extend .shadowed;

	h1 {
		margin-bottom: $base-line-height;
		text-align: center;
		font-weight: bold;
		color: $mainColor;
		@include adjust-font-size-to(2 * $base-font-size);
	}

	label {
		display: block;
		float: left;
		height: 1.5 * $base-line-height;
		width: 25%;
		margin-bottom: $base-line-height;
		@include adjust-leading-to(1.5);
	}

	input[type=email],
	input[type=password] {
		display: block;
		height: 1.5 * $base-line-height;
		width: 75%;
		margin-bottom: $base-line-height;
		padding: 0.25*$base-line-height 0.25*$gutter-width;
	}

	input[type=submit] {
		float: right;
	}
}