// button
.button {
	display: inline-block;
	margin-bottom: $base-line-height;
	padding: 0.1*$base-line-height 0.5*$gutter-width;
	font-weight: bold;
	text-decoration: none;
	color: $white;
	background: $mainColor;
	border: 1px solid darken($darkGray, 10%);
	background-color: $darkGray;
	@include text-shadow(2px 2px 2px darken($darkGray, 10%));
	@include background-image(linear-gradient(lighten($darkGray, 5%),darken($darkGray, 5%)));
	@include border-radius($border-radius);
	@include box-shadow(rgba(255,255,255,0.3) 0 1px 0 inset,rgba(0,0,0,0.5) 0 2px 4px);
	@include adjust-font-size-to($base-font-size);
}

.button:hover {
	text-decoration: none;
	background: lighten($mainColor, 5%);
	border: 1px solid darken($mainColor, 10%);
	background-color: lighten($darkGray, 5%);
	@include text-shadow(2px 2px 2px darken($mainColor, 10%));
	@include background-image(linear-gradient(lighten($mainColor, 15%),darken($mainColor, 5%)));
}

a.button::after {
	float: right;
	content: '>>>';
	margin: 1px 0px 0px $column-width;
}


// shadowed
.shadowed {
	@include box-shadow(rgba(0,0,0,0.5) 0 2px 15px);
}
