body,
html {
	width: 100%;
	height: 100%;
	background: $lightGray;
	font-family: $base-font;
}

#centerWrapper {
	@extend .shadowed;
	position: relative;
	display: block;
	margin-right: auto;
	margin-bottom: 2*$base-line-height;
	margin-left: auto;
	width: $total-columns*$column-width + ($total-columns - 1)*$gutter-width + 2*$grid-padding;
	background: $white;
}

#imageBar {
	width: 100%;
	height: 130px;
	background: url('/images/header.jpg');
}

#header {
	@include container;
	@include background-image(linear-gradient(lighten($mainColor, 10%), darken($mainColor, 10%)));
	@extend .shadowed;
	background-color: $mainColor;

	h1 {
		float: left;

		a {
			@include adjust-font-size-to(1.5*$base-font-size);
			@include adjust-leading-to(2);
			color: $white;
			font-weight: bold;
		}

		a:hover {
			text-decoration: none;
		}
	}
}

#navigation {
	float: right;
	border-left: 1px solid lighten($mainColor, 10%);

	ul {
		list-style: none;

		li {
			position: relative;
			float: left;

			a,
			span {
				@include adjust-leading-to(2);
				display: block;
				padding: 0px 0.5*$gutter-width;
				border-right: 1px solid lighten($mainColor, 10%);
				color: $white;
				text-decoration: none;
			}

			.active {
				@include background-image(linear-gradient(lighten($mainColor, 15%), darken($mainColor, 5%)));
				background-color: $mainColor;
			}

			.subNavigation {
				@include border-radius(0px 0px $border-radius $border-radius);
				@include box-shadow(rgba(0,0,0,0.5) 0 2px 10px);
				position: absolute;
				top: 2*$base-line-height;
				left: -1px;
				z-index: 100;
				padding-bottom: $border-radius;
				width: 100%;
				border: 1px solid $mainColor;
				border-top: 0px;
				background: $white;
				list-style: none;

				li {
					float: none;
					border: 0px;

					a {
						@include adjust-font-size-to(0.9*$base-font-size);
						@include adjust-leading-to(1);
						padding: 0.25*$base-line-height 0.5*$gutter-width;
						border: 0px;
						color: $mainColor;
					}

					a:hover {
						@include background-image(linear-gradient(lighten($mainColor, 45%), lighten($mainColor, 35%)));
						color: $white;
						background-color: lighten($mainColor, 40%);
					}

				}
			}
		}

		li:hover > span,
		li:hover > a{
			@include background-image(linear-gradient(lighten($mainColor, 15%), darken($mainColor, 5%)));
			background-color: lighten($mainColor, 5%);
		}
	}

	ul:hover {
		.active {
			@include background-image(linear-gradient(lighten($mainColor, 10%), darken($mainColor, 10%)));
			background-color: $mainColor;
		}

		.active:hover {
			@include background-image(linear-gradient(lighten($mainColor, 15%), darken($mainColor, 5%)));
			background-color: lighten($mainColor, 5%);
		}
	}
}

#contentArea {
	@include container;
	padding-top: 2*$base-line-height;

}

#footer {
	@include adjust-leading-to(2);
	@include background-image(linear-gradient(lighten($black, 10%), $black));
	@include box-shadow(rgba(0,0,0,0.5) 0 -2px 10px);
	color: $darkGray;
	background-color: $black;

	.gridContainer {
		@include container;

		.left {
			@include span-columns(9,18);
		}

		.right {
			@include span-columns(9 omega, 18);
			text-align: right;

			a {
				margin-left: 0.25*$gutter-width;
			}
		}

		a {
			color: $gray;
		}
	}
}