* {
	@include box-sizing('border-box');
	*behavior: url('/css/behaviors/boxsizing.htc');
}

a {
	color: $mainColor;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}



.comments {

	.comment {
		margin-bottom: 2*$base-line-height;

		p {
			@include background-image(linear-gradient(lighten($lightGray, 5%), darken($lightGray, 10%)));
			@include border-radius(5*$border-radius);
			@extend .shadowed;
			position: relative;
			margin-bottom: 0.5*$base-line-height;
			padding: $base-line-height $gutter-width;
			color: $darkGray;
			background-color: $lightGray;
		}

		p::after {
			position: absolute;
			bottom: -1.5*$base-line-height;
			left: 2*$gutter-width;
			display: block;
			width: 0px;
			border-width: 1.5*$base-line-height 0px 0px $base-line-height;
			border-style: solid;
			border-color: darken($lightGray, 10%) transparent;
			content: '';
		}

		.info {
			display: block;
			margin-left: 3*$gutter-width;
			color: $gray;
		}
	}
}


.contactInfo {
	li {
		padding: 0.5*$base-line-height 0px;

		span.name {
			display: block;
			border-bottom: 1px solid $gray;
			font-weight: bold;
		}

		span.responsibility {
			@include adjust-font-size-to(0.8*$base-font-size);
			display: block;
			color: $darkGray;
			font-weight: bold;
		}

		a {
			@include adjust-font-size-to(0.8*$base-font-size);
			display: block;
			color: $mainColor;
		}
	}

	li:first-child {
		margin-top: 0px;
	}




	dt {
		margin-top: 0.5*$base-line-height;
		font-weight: bold;
	}

	dt:first-child {
		margin-top: 0px;
	}

	dd {
		@include adjust-font-size-to(0.8*$base-font-size);
		padding: 0px 0px 0px 1*$gutter-width;
		color: $darkGray;

		a {
			@include adjust-font-size-to(0.8*$base-font-size);
			color: $darkGray;
			text-decoration: none;
		}

		a:hover {
			color: $mainColor;
		}
	}

}


.contentBox {
	@include pie-clearfix;
	margin-bottom: 2*$base-line-height;

	h2 {
		@include adjust-font-size-to(1.8*$base-font-size);
		margin-bottom: $base-line-height;
		color: $mainColor;
		text-decoration: none;
		font-weight: bold;
	}

	h3 {
		@include adjust-font-size-to(1.5*$base-font-size);
		margin-bottom: $base-line-height;
		color: $mainColor;
		font-weight: bold;
	}

	p {
		margin-bottom: $base-line-height;
	}
}

.contentHalfLeft {
	@include span-columns(9, 18);
}

.contentHalfRight {
	@include span-columns(9 omega, 18);
}

.disciplineTable {
	clear: both;
}

#disciplineTableChooser {
	@include adjust-font-size-to(0.9*$base-font-size);
	float: right;
}

.feedback {
	@include border-radius(0.25*$base-line-height);
	margin-bottom: $base-line-height;
	padding: 0.5*$base-line-height 0.25*$gutter-width;
	border: 2px solid;

	.type {
		display: block;
		margin-bottom: 0.5*$base-line-height;
		font-weight: bold;
	}

	.message {
		@include adjust-font-size-to(0.9*$base-font-size);
		margin: 0px;
		color: #222;
	}
}

.feedback.confirmation  {
	border-color: #0f0;
	background: #bfb;

}

.feedback.error  {
	border-color: #f66;
	background: #fbb;
}

.galleryThumbs {
	@include pie-clearfix;
	margin-bottom: 2*$base-line-height;
	list-style: none;

	li {
		margin-bottom: $base-line-height;

		img {
			@extend .shadowed;
			display: block;
			margin: 0px auto;
		}
	}
}

.galleryOmega36 li {
	@include span-columns(3, 6);
	@include nth-omega(2n);
}

.galleryOmega39 li {
	@include span-columns(3, 9);
	@include nth-omega(3n);
}

.horizontalTable {
	@extend .shadowed;
	display: table;
	margin-bottom: 2*$base-line-height;
	width: 100%;
	background: $lightGray;

	tr:nth-child(2n+1) {
		background: $white;
	}

	th,
	td {
		padding: 0.25*$base-line-height 0.25*$gutter-width;
	}

	th {
		@include background-image(linear-gradient(lighten($mainColor, 10%), darken($mainColor, 5%)));
		border-bottom: 1px solid $gray;
		color: $white;
		text-align: center;
		font-weight: bold;
		background-color: $mainColor;
	}

	td {
		@include adjust-font-size-to(0.9*$base-font-size);
		border-right: 1px solid $gray;
		border-bottom: 1px solid $gray;
	}

	.waiting {
		td {
			background: lighten($mainColor, 50%);
		}
	}

	.firstPlace,
	.secondPlace,
	.thirdPlace {
		padding-left: 2*$gutter-width;
		background-position: $gutter-width center;
		background-repeat: no-repeat;
	}

	.firstPlace {
		background-image: url('/images/icons/medal_gold_3.png');
	}

	.secondPlace {
		background-image: url('/images/icons/medal_silver_3.png');
	}

	.thirdPlace {
		background-image: url('/images/icons/medal_bronze_3.png');
	}
}

.mainContentLeft {
	@include span-columns(12,18);
	clear: both;
}

.newsEntryPreview,
.newsEntryArticle {

	header {

	}

	.info {
		overflow: hidden;
		margin-bottom: $base-line-height;

		.dateInfo,
		.galleryInfo,
		.commentsInfo {
			@include adjust-font-size-to(0.9*$base-font-size);
			padding: 0px $base-font-size + 0.5*$gutter-width;
			background-color: $lightGray;
			background-position: 0.25*$gutter-width center;
			background-repeat: no-repeat;
			color: $darkGray;
			text-align: center;
		}

		.dateInfo {
			@include span-columns(4, 12);
			background-image: url('/images/icons/black/calendar_1_icon&16.png');
		}

		.galleryInfo {
			@include span-columns(4, 12);
			background-image: url('/images/icons/black/picture_icon&16.png');
		}

		.commentsInfo {
			@include span-columns(4 omega, 12);
			background-image: url('/images/icons/black/spechbubble_sq_line_icon&16.png');
		}
	}

}

.newsEntryPreview {

	.wrapper {
		display: block;
		color: inherit;
		text-decoration: none;
	}

	.coverImage {
		@extend .shadowed;
		float: right;
		margin: 0px 0px $base-line-height $gutter-width;
	}
}

.newsEntryArticle {

	.summary {
		font-weight: bold;
	}
}

.pagination {
	text-align: center;

	ul {
		display: inline;
		margin-left: $gutter-width;
		list-style: none;

		li {
			display: inline;

			a {
				@include border-radius($border-radius);
				display: inline-block;
				padding: 0px 0.25*$gutter-width;
				text-decoration: none;
			}
		}
	}

	ul .active a,
	ul a:hover,
	ul:hover .active a:hover {
		@include background-image(linear-gradient(lighten($mainColor, 45%), lighten($mainColor, 35%)));
		color: $white;
		background-color: lighten($mainColor, 40%);
	}

	ul:hover .active a {
		background: none;
		color: $mainColor;
	}
}

.sidebarBox {
	@include background-image(linear-gradient(lighten($lightGray, 5%), darken($lightGray, 10%)));
	@include border-radius($border-radius);
	@include pie-clearfix;
	@extend .shadowed;
	margin-bottom: 2*$base-line-height;
	padding: $base-line-height 0.5*$gutter-width;
	border: 1px solid $gray;
	background-color: $lightGray;

	h3 {
		@include adjust-font-size-to(1.8*$base-font-size);
		margin-bottom: $base-line-height;
		color: $mainColor;
		font-weight: bold;
	}

	h4 {
		@include adjust-font-size-to(1.5*$base-font-size);
		margin-bottom: 0.5*$base-line-height;
		color: $darkGray;
		font-weight: bold;
		line-height: 1.5*$base-line-height;
	}

	p {
		margin-bottom: $base-line-height;
		color: $darkGray;
	}

	.button {
		@include text-shadow(2px 2px 2px darken($mainColor, 10%));
		@include background-image(linear-gradient(lighten($mainColor, 5%),darken($mainColor, 5%)));
		display: block;
		border: 1px solid darken($mainColor, 10%);
		background-color: $mainColor;
	}

	.button:hover {
		@include background-image(linear-gradient(lighten($mainColor, 15%),darken($mainColor, 5%)));
		background-color: $mainColor;
	}
}

.sidebarForm {
	@extend .clearfix;

	label {
		display: block;
		color: $darkGray;
		vertical-align: middle;
	}

	input[type=text],
	input[type=email] {
		@include adjust-font-size-to(0.8*$base-font-size);
		display: block;
		margin-bottom: 0.5*$base-line-height;
		padding: 0.1*$base-line-height 0.25*$gutter-width;
		width: 100%;
	}

	input[type=submit] {
		float: right;
	}

	select {
		@include adjust-font-size-to(0.9*$base-font-size);
		display: block;
		margin-bottom: 0.5*$base-line-height;
		width: 100%;
	}

	textarea {
		@include adjust-font-size-to(0.8*$base-font-size);
		display: block;
		margin-bottom: 0.5*$base-line-height;
		padding: 0.1*$base-line-height 0.25*$gutter-width;
		width: 100%;
		height: 5*$base-line-height;
	}

	p {
		margin-top: $base-line-height;
		margin-bottom: $base-line-height;
	}

	.inputInfo {
		@include adjust-font-size-to(0.8*$base-font-size);
		display: inline-block;
		float: right;
		color: $darkGray;
		text-align: right;
	}

	.button {
		display: block;
		width: 100%;
	}
}


.sidebarList {
	margin-top: -1px;
	margin-bottom: $base-line-height;
	border-top: 1px dotted $darkGray;


	li {
		a {
			display: block;
			margin-bottom: -1px;
			padding: 0px 0.5*$gutter-width;
			border-bottom: 1px dotted $darkGray;
			text-decoration: none;
		}

		a:hover {
			@include background-image(linear-gradient(lighten($mainColor, 55%), lighten($mainColor, 45%)));
			color: $white;
			background-color: $mainColor;
		}
	}
}

.sidebarRight {
	@include span-columns(6 omega, 18);
}


.slideShowBackground {
	position: fixed;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	display: none;
	background: url('/images/loading.gif') center center no-repeat rgba(0,0,0,0.5);

	.slideShowWrapper {
		position: absolute;
		top: 50%;
		left: 50%;

		.slideShowImage {
			@include box-shadow(rgba(0,0,0,0.8) 0 0 5*$border-radius);
		}

		.slideShowNextSlideButton,
		.slideShowPreviousSlideButton {
			position: absolute;
			top: 50%;
			width: 80px;
			height: 80px;
			background: rgba(0,0,0,0.5);
			color: $gray;
			text-align: center;
			text-decoration: none;
			font-size: 80px;
			line-height: 80px;
		}

		.slideShowNextSlideButton {
			right: 0px;
		}

		.slideShowPreviousSlideButton {
			left: 0px;
		}
	}

}

.spamPrevention {
	display: none !important;
}

.squadPortrait {
	@extend .shadowed;
	margin-bottom: 2*$base-line-height;
}

.tournamentList {
	margin-bottom: 2*$base-line-height;
	border-bottom: 1px solid $darkGray;
	list-style: none;

	li {
		border-top: 1px solid $darkGray;
	}
}

.tournamentTable {
	width: 100%;
	thead {
		th,
		td {
			background: $lightGray;
		}

		th {
			padding: 0.25*$base-line-height 0px !important;
			font-weight: bold;
		}

		td {
			@include adjust-font-size-to(0.8*$base-font-size);
			color: $darkGray;

			a {
				float: right;
			}
		}
	}

	tbody {
		@include adjust-font-size-to(0.8*$base-font-size);

		th {
			color: $black;
			font-weight: bold;
		}

		td {
			color: $darkGray;
		}
	}

	thead,
	tbody {
		th,
		td {
			padding: 0px 0.25*$gutter-width;
			border: 1px solid $lightGray;
		}
	}
}


.verticalTable {
	display: table;
	margin-top: -1px;
	margin-bottom: 2*$base-line-height;
	width: 100%;
	border-top: 1px solid $gray;

	tr {

		th,
		td {
			margin-bottom: -1px;
			padding: 0.5*$base-line-height 0.5*$gutter-width;
			border-bottom: 1px solid $gray;
		}

		th {
			font-weight: bold;
		}

		td {
			color: $darkGray;

			strong {
				font-weight: bold;
			}

			input[type=text],
			input[type=email],
			textarea {
				@include border-radius($border-radius);
				@include background-image(linear-gradient(lighten($lightGray, 5%), darken($lightGray, 5%)));
				@include adjust-font-size-to(0.8*$base-font-size);
				padding: 0.2*$base-line-height 0.25*$gutter-width;
				width: 100%;
				border: 1px solid $gray;
				color: $black;
				background-color: $lightGray;
			}

			input[type=submit] {
				float: right;
			}

			textarea {
				height: 6*$base-line-height;
			}

			.feedback {
				margin-top: 0.5*$base-line-height;
				margin-bottom: 0.5*$base-line-height;
			}

		}

		.button {
			@include adjust-font-size-to($base-font-size);
			margin: 0px;
		}
	}
}