/* DEFINITIONS */
	// Font Sizes
	$relative-font-sizing:	false;
	$base-font-size: 		16px;
	$base-line-height: 		24px;

	// Fonts
	$base-font:	'Open Sans', 'arial', sans-serif;

	// Grid
	$total-columns:	18;
	$column-width:	20px;
	$gutter-width:	40px;
	$grid-padding:	40px;
	$container-style:	static;

	// Colors
	$mainColor:		#00469e;
	$black:			#000;
	$darkGray:		#666;
	$gray:			#aaa;
	$lightGray:		#eee;
	$white:			#fff;

	//border
	$border-radius:	5px;

	//ie-support
	$legacy-support-for-ie:		true;
	$legacy-support-for-ie6:	$legacy-support-for-ie;
	$legacy-support-for-ie7:	$legacy-support-for-ie;
	$legacy-support-for-ie8:	$legacy-support-for-ie;

	//box-sizing
	$border-box-sizing:	true;

/* IMPORTS */

	@import "compass/reset";
	@import "compass/css3";
	@import "compass/layout";
	@import "compass/typography";
	@import "blueprint/grid";
	@import "susy";

/* INCLUDES */
	@include global-reset;
	@include reset-html5;
	@include establish-baseline;
	@include sticky-footer(2*$base-line-height, "#stickyFooterContent", "#stickyFooterPlaceholder", "#footer");

/* IMPORT STYLES */

	@import "_mixins.scss";
	@import "_structure.scss";
	@import "_styles.scss";